<ion-view title="Staff" cache-view="false" can-swipe-back="true" hide-back-button="false">
      <ion-nav-back-button class="button-clear" ng-click="goback()">
            <i class="ion-arrow-left-c"></i>Back
            </ion-nav-back-button>
      <ion-nav-buttons class="secondary">
            <button class="button button-icon ion-plus" ng-click="addStaff()"></button>
            </ion-nav-buttons>
      <ion-content>
          <ion-list>
              <ion-item ng-repeat="careTaker in careTakers">
                  {{careTaker.name}}
                  </ion-item></ion-list>
      </ion-content>
 </ion-view>